.register-page {
    display: flex;
}

.left-section {
    flex: 1;
    background-image: url('../../../assets/images/owm-bg3.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100vh;
    width: auto;
    text-align: center;
    z-index: -1;

    h2{
        color: var(--beige);
        font-size: 36px;
        margin-top: 40px ;
        text-align: center;
        padding-left: 60px;

    }
    p{
        color: white;
        font-size: 16px;
        text-align: center;
        width: 85%;
        padding-left: 60px;
        line-height: 1.5;
    }
}
.left-section::before {
    content: ""; 
    position: absolute; 
    top: 80px;
    bottom: 10px;
    left: 50px;
    right: 0px;
    width: 50%; 
    height: 80%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

.owm-logo {
    width: 250px; 
    height: auto; 
    margin-top: 140px;
}

.right-section {
    flex: 1;
    padding-top: 70px;
    background-color: var(--beige);

    h1{
        color: var(--dark-blue);
        text-align: center;
        font-size: 36px;
        font-weight: bold;
    }
    h3{
        color: black;
        text-align: center;
    }
}

form {
    max-width: 500px; 
    margin: 0 auto; 
}

label {
    color: var(--dark-blue); 
    font-weight: bold;
}

input{
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--blue); 
    border-radius: 5px; 
    outline: none;
}
select{
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--blue); 
    border-radius: 5px; 
    outline: none;
}
input:focus,
select:focus {
    border-color: var(--light-blue); 
}
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 50px; 
    margin-bottom: 20px;
}

button{
    background-color: var(--dark-blue);
    color: var(--beige);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    border: 0px;
    cursor: pointer;
}
.login-link{
    margin-top: 10px;

    a{
        color: var(--dark-blue);
    }
}
.form-group{
    margin-bottom: 7px !important;
}
