.footer {
    background-color: white; 
    color: var(--dark-blue); 
    padding: 20px; 
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h4{
        margin-bottom: 25px;
        color: var(--dark-blue);
    }

    ul {
        list-style-type: none; 
    }

    ul li {
        margin-right: 20px;
        margin-bottom: 15px;
    }

    ul li a {
        color: var(--dark-blue); 
        text-decoration: none;
    }

    ul li a:hover {
        color: var(--blue); 
    }
    .social-icon{
        display: block;
    }
}
.company,
.help,
.social-media {
    display: inline-block;
    margin: 0 140px; 
}
.footer-logo{
    margin-left: 150px;
    width: 150px;
    margin-top: -50px;
}
.copyrights{
    text-align: center; 
    background-color: white; 
    color: var(--dark-blue);
    padding: 20px; 
}
.social-media a{
    margin-bottom: 10px;
}