<header>
    <img src="../../assets/images/owm-logo.png" width="100px" height="100px" alt="owm-logo">
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/consumption">Consumption</a></li>
            <li><a routerLink="/leakage">Leakage</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </nav>
</header>