<header>
    <img src="../../assets/images/owm-logo.png" width="100px" height="100px" alt="owm-logo">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                    <li class="nav-item" *ngIf="loggedIn && !isAdmin"><a class="nav-link" routerLink="/consumption">Consumption</a></li>
                    <li class="nav-item" *ngIf="loggedIn && !isAdmin"><a class="nav-link" routerLink="/leakage">Leakage</a></li>
                    <li class="nav-item" *ngIf="loggedIn && !isAdmin"><a class="nav-link" routerLink="/profile/{{userId}}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contact-us">Contact Us</a></li>
                    <li class="nav-item" *ngIf="loggedIn && isAdmin"><a class="nav-link" routerLink="/users">Dashboard</a></li>
                    <li class="nav-item" *ngIf="loggedIn && !isAdmin"><a class="nav-link" routerLink="/bills">Payment</a></li>
                    <!-- <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" routerLink="/register">Register</a></li> -->
                    <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" routerLink="/login">Login</a></li>
                    <li class="nav-item" *ngIf="loggedIn"><a class="nav-link" (click)="logoutUser()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>