<section>
    <header>
        <img src="../../assets/images/owm-logo.png" width="100px" height="100px" alt="owm-logo">
        <nav>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="home-page">
        <h2>The Oracle - AI Water Is Here</h2>
        <p>OWM Is The Future</p>
    
        <p>The OWM detects and stops leaks at the source using Artificial Intelligence. It alerts you when water is leaking and automatically shuts it off. Intelligent real-time monitoring identifies sources of leaks and waste, reducing your water consumption and preventing damage.</p>
        <button routerLink="/register">Register</button>
        <a routerLink="/" class="down-arrow-button">
            <svg width="38px" height="38px" fill="#008DDA" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
        </a>
    </div>
    <div class="overlay"></div>    
</section>
