<app-header></app-header>
<section class="header">
    <h1>Privacy & Policy</h1>
    <img src="../../assets/images/terms.png" alt="terms">
</section>
<div class="container">
    <img src="../../../assets/images/privacy.png" alt="privacy" height="150px" class="animate-image">
    <p>We are committed to safeguarding your privacy and ensuring the security of your personal information. 
        This Privacy Policy outlines how we collect, use, and protect data when you use our smart water meter services.
    </p>
</div>
<div class="privacy-policy">
    <h3>Information We Collect</h3>
    <ul>
        <li><strong>Personal Information:</strong> This may include your name, address, contact details, and billing information necessary for account setup and customer support.</li>
        <li><strong>Usage Data:</strong> We collect data on water consumption to provide real-time monitoring and analytics, helping you manage your water usage efficiently.</li>
    </ul>

    <h3>How We Use Your Information</h3>
    <ul>
        <li>To provide, maintain, and improve our services.</li>
        <li>To personalize your experience and offer customer support.</li>
        <li>To send important updates, notifications, or service-related information.</li>
    </ul>

    <h3>Data Security</h3>
    <p>We implement robust security measures to protect your data from unauthorized access, alteration, 
        disclosure, or destruction. Your information is stored securely and is only accessible by authorized personnel.
    </p>

    <h3>Third-Party Disclosure</h3>
    <p>We do not sell, trade, or transfer your personal information to outside parties without your explicit consent,
        except when required by law or necessary to provide our services (e.g., billing processors).</p>

    <h3>Your Rights</h3>
    <p>You have the right to access, correct, or delete your personal data held by us. To exercise these rights, 
        please contact our customer support team.</p>

    <h3>Changes to This Policy</h3>
    <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated 
        revision date. We encourage you to review this policy periodically to stay informed about how we are protecting 
        your information.
    </p>
</div>
<app-footer></app-footer>