.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  color: #004f79;
  padding: 30px 0;
  text-align: center;
  background-image: url('../../../assets/images/water.jpg');
  background-size: cover;
  background-position:bottom;
  height: 460px;
}
.page-title{
  font-size: 26px;
  font-weight: bold;
}
.page-text{
  font-size: 20px;
}

/* Key Features Section */
.key-features {
  background-color: #f9f9f9;
  padding: 50px 0;
  animation: fadeInUp 1.5s ease-in-out;
}

.key-features h2 {
  text-align: center;
  color: #008DDA;
  margin-bottom: 30px;
}

.feature {
  text-align: center;
  flex: 1;
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.feature h3 {
  margin-top: 20px;
  font-size: 20px;
  color: var(--dark-blue);
}

.feature p {
  color: #555;
  margin-top: 10px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.banner {
  background-color: var(--beige);
  padding: 100px 0;
  text-align: center;
  h2{
    font-size: 24px;
    color: #008DDA;
    font-weight: bold;
    margin-bottom: 45px;
  }
}

.banner .container {
  display: flex;
  justify-content: space-around;
}

.banner .banner-item {
  flex: 1;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--light-blue);
}

.banner .banner-item h2 {
  font-size: 36px;
  color: var(--dark-blue);
  margin-top: 40px;
  margin-bottom: 10px;
}

.banner .banner-item p {
  font-size: 16px;
  color: var(--dark-blue);
}
.faq {
  padding: 50px 0;
}

.faq .container {
  max-width: 800px;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
  margin-bottom: 40px;
}

.faq .faq-item {
  margin-bottom: 30px;
}

.faq .faq-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--dark-blue);
}

.faq .faq-item p {
  font-size: 16px;
  color: #666;
}


/* Team Section */
.team {
  padding: 50px 0;
  background-color: var(--beige);
}

.team h2 {
  text-align: center;
  color: #008DDA;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  animation: fadeInDown 1s ease-in-out;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-member {
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInUp 0.6s ease-in-out forwards;
}

.team-member img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.team-member h3 {
  font-size: 18px;
  color: var(--dark-blue);
  margin-bottom: 5px;
}

.team-member p {
  color: #555;
  font-size: 16px;
}

/* Hover Effects */
.team-member:hover img {
  transform: scale(1.1);
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}