.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    color: #004f79;
    padding: 80px 0;
    text-align: center;
    background-image: url('../../../assets/images/water.jpg');
    background-size: cover;
    background-position:bottom;
    height: 360px;
    h1{
      font-size: 26px;
      margin-top: -15px;
      font-weight: bold;
    }
    p{
      font-size: 20px;
    }
}

.key-features {
  padding: 50px 0;
  background-color: var(--beige);
  color: var(--dark-blue);
  text-align: center;
  h2{
    font-size: 24px;
    color: #008DDA;
    font-weight: bold;
    margin-bottom: 45px;
  }
}

.key-features .container {
  display: flex;
  justify-content: space-around;
}

.key-features .feature {
  text-align: center;
  max-width: 300px;
}

.key-features .feature img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.key-features .feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.key-features .feature p {
  font-size: 16px;
  color: #666;
}

.banner {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
  h2{
    font-size: 24px;
    color: #008DDA;
    font-weight: bold;
    margin-bottom: 45px;
  }
}

.banner .container {
  display: flex;
  justify-content: space-around;
}

.banner .banner-item {
  flex: 1;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--light-blue);
}

.banner .banner-item h2 {
  font-size: 36px;
  color: var(--dark-blue);
  margin-top: 40px;
  margin-bottom: 10px;
}

.banner .banner-item p {
  font-size: 16px;
  color: var(--dark-blue);
}
.faq {
  padding: 50px 0;
}

.faq .container {
  max-width: 800px;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
  margin-bottom: 40px;
}

.faq .faq-item {
  margin-bottom: 30px;
}

.faq .faq-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--dark-blue);
}

.faq .faq-item p {
  font-size: 16px;
  color: #666;
}


.team {
    padding: 100px 0;
    text-align: center;
    background-color: var(--beige);
  
    h2 {
      color: #008DDA;
      font-size: 24px;
      font-weight: bold;
    }
  
    .team-members {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 40px;
  
      .team-member {
        width: 250px;
        margin: 20px;
        text-align: center;
  
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 20px;
        }
  
        h3 {
          color: #008DDA;
          margin-bottom: 10px;
        }
  
        p {
          color: #333;
        }
      }
    }
}
