<app-header></app-header>
<section class="header">
    <h1>About Us!</h1>
    <img src="../../assets/images/about.png" alt="about">
</section>
<div class="container">
    <img src="../../assets/images/text.png" alt="quotation" height="150px" class="animate-image">
    <p>At OWM, we are dedicated to revolutionizing water management through innovative smart metering solutions. 
        Our advanced smart water meters empower individuals, businesses, and communities to monitor and manage their 
        water usage with precision and ease. By providing real-time data and insights, our technology helps conserve 
        water, reduce costs, and promote sustainability. With a commitment to environmental responsibility and 
        cutting-edge technology, we strive to make every drop count, ensuring a more efficient and eco-friendly 
        future for generations to come. Join us in creating smarter, sustainable water solutions for a better tomorrow.
    </p>
</div>
<div class="container bg-img">
    <div class="overlay-text">
        Every Water Drop Counts
    </div>
</div>
<div class="container">
    <div class="container mt-4">
        <img src="../../../assets/images/vision.png" alt="vision" height="100px" class="animate-image">
        <p class="vision-text"><strong>Our Vision</strong>  is to lead the global shift toward smarter, more sustainable water management systems, 
            ensuring the efficient use of resources for generations to come.
        </p>
    </div>
    <div class="container">
        <img src="../../../assets/images/mission-statement.png" alt="mission" height="100px" class="animate-image">
        <p class="mission-text"><strong>Our Mission</strong> is to provide cutting-edge smart water metering solutions that enable efficient water management, 
            reduce waste, and promote environmental sustainability for a better future.
        </p>
    </div>
</div>
<app-footer></app-footer>