.header{
    text-align: center;
}
.header img {
    max-width: 100%; 
    height: auto;    
    display: block;  
    margin: 0 auto;  
}

@media (max-width: 768px) {
    .header img {
        width: 80%; 
    }
}
h1{
    font-weight: bold;
    font-size: 26px;
    padding: 30px;
    background-color: #F7EEDD;
    color: var(--dark-blue);
}
.consumption-page{
    background-color: #fdfdfd;
    padding: 10px;
}
.accordion-title{
    font-size: 20px;
    color: var(--dark-blue);
    padding: 100px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.chart {
    flex: 1 1 100%;
    max-width: 100%;
}
.box-container{
    padding: 10px 100px;
}
button{
    background-color: var(--dark-blue) !important;
    color: white !important;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
}
.responsive-chart{
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
}

/* Responsive styles for different screen sizes */
@media (min-width: 600px) {
    .chart {
        flex: 1 1 48%;
    }
}

@media (min-width: 900px) {
    .chart {
        flex: 1 1 30%;
    }
}

@media (min-width: 1200px) {
    .chart {
        flex: 1 1 30%;
    }
}