<app-header></app-header>
<section class="header">
    <h1>Welcome, {{ user?.firstName }}!</h1>
    <img src="../../../assets/images/profile/undraw_Profile_re_4a55.png" *ngIf="user?.gender=='male'" alt="">
    <img src="../../../assets/images/profile/undraw_Wall_post_re_y78d.png" *ngIf="user?.gender=='female'" alt="">
</section>

<div>
    <mat-tab-group>
        <mat-tab label="My Profile">
            <!-- Display user data -->
            <div class="user-data-container" *ngIf="!editMode">
                <div class="profile">
                    <h2>{{ user?.firstName }}'s Profile</h2>
                    <div class="profile-row">
                        <p><strong>First Name:</strong> {{ user?.firstName }}</p>
                        <p><strong>Last Name:</strong> {{ user?.lastName }}</p>
                    </div>
                    <div class="profile-row">
                        <p><strong>Username:</strong> {{ user?.userName }}</p>
                        <p><strong>Email:</strong> {{ user?.email }}</p>
                    </div>
                    <div class="profile-row">
                        <p><strong>Address:</strong> {{ user?.address }}</p>
                        <p><strong>Apartment No.:</strong> {{ user?.apartmentNumber }}</p>
                    </div>
                    <div class="profile-row">
                        <p><strong>Age:</strong> {{ user?.age }}</p>
                        <p><strong>Gender:</strong> {{ user?.gender }}</p>
                    </div>
                    <div class="profile-row">
                        <p><strong>Phone Number:</strong> {{ user?.phoneNumber }}</p>
                    </div>
                
                    <button (click)="editModeOn()"><svg height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#f7eedd" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg> 
                        Edit Profile</button>
                </div>
            </div>
            <!-- Edit profile -->
            <div class="container" *ngIf="editMode">
                <div class="profile">
                    <h2>{{ user?.firstName }}'s Profile</h2>
                    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                        <div class="form-group">
                            <div class="name-fields">
                                <div class="form-group" style="margin-right: 15px;">
                                    <label for="firstName">First Name <span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="text" id="firstName" formControlName="firstName">
                                    <!-- Add validation messages here if needed -->
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="text" id="lastName" formControlName="lastName">
                                    <!-- Add validation messages here if needed -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="name-fields">
                                <div class="form-group" style="margin-right: 15px;">
                                    <label for="userName">Username<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="text" id="userName" formControlName="userName">
                                    <!-- Add validation messages here if needed -->
                                </div>
                                <div class="form-group">
                                    <label for="email">Email<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="email" id="email" formControlName="email">
                                    <!-- Add validation messages here if needed -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="name-fields">
                                <div class="form-group" style="margin-right: 15px;">
                                    <label for="address">Address<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="text" id="address" formControlName="address">
                                    <!-- Add validation messages here if needed -->
                                </div>
                                <div class="form-group">
                                    <label for="apartmentNumber">Apartment No<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="text" id="apartmentNumber" formControlName="apartmentNumber">
                                    <!-- Add validation messages here if needed -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="name-fields">
                                <div class="form-group" style="margin-right: 15px;">
                                    <label for="age">Age<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="number" id="age" formControlName="age">
                                    <!-- Add validation messages here if needed -->
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <select formControlName="gender" id="gender" name="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="name-fields">
                                <div class="form-group" style="margin-right: 15px;">
                                    <label for="phoneNumber">Phone Number<span style="color: rgb(157, 37, 37);">*</span></label>
                                    <input type="number" id="phoneNumber" formControlName="phoneNumber">
                                    <!-- Add validation messages here if needed -->
                                </div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="profileForm.invalid">Save Changes</button>
                    </form>
                </div>  
            </div>
        </mat-tab>
        <mat-tab label="Select Active Meter">
            <!-- Select/Add New Meter -->
            <div class="container">
                <div class="profile">
                    <div class="show-devices">
                        <h2>{{ user?.firstName }}'s Devices</h2>
                        <p style="font-weight: bold;">Select Meter you want to show data for</p>
                        <div class="meter-cards-container">
                            <div *ngFor="let meterID of user?.meters; let i = index" 
                                [ngClass]="{'meter-card': true, 'selected': selectedMeterID === meterID}"
                                (click)="selectMeter(meterID)">
                                <div class="meter-card-content">
                                    <mat-checkbox [checked]="selectedMeterID === meterID" class="meter-checkbox"><strong>Meter {{ i + 1 }} ID:</strong> {{ meterID }}</mat-checkbox>
                                </div>
                            </div>
                        </div>                          
                        
                    </div>
                
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>      
</div>
<app-footer></app-footer>