.header{
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: 26px;
    padding: 30px;
    background-color: #F7EEDD;
    color: var(--dark-blue);
}
img{
    height: 500px;
}
form {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 10px;
    font-size: 16px;
}

.name-fields {
    display: flex;
}

.form-group {
    margin-bottom: 20px;
    flex: 1;
}

label {
    color: #008DDA;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #008DDA;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #008DDA;
}
.new-meterID{
    margin-top: 10px;
}
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008DDA;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #005c91;
}

/* User data container styling */
.user-data-container,.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Profile styling */
.profile {
    background-color: var(--beige);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%; 
    margin-bottom: 40px;
}

.profile h2 {
    margin-bottom: 30px;
    color: #008DDA;
    font-size: 28px;
}

.profile-row {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    background-color: #008DDA;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.profile-row p {
    flex: 1;
    margin: 10px 10px;
    min-width: 100px;
    word-break: break-word;
    font-size: 18px;
}
.profile-row p strong {
    color: var(--dark-blue);
}
select{
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--blue); 
    border-radius: 5px; 
    outline: none;
    border: 1px solid #008DDA;
    color: #008DDA;
}
::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #41C9E2 !important;
}
::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--dark-blue) !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.meter-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* space between cards */
}

.meter-card {
    flex: 1 1 calc(33.333% - 16px); /* 3 cards per row with spacing */
    background-color: #f8f8f8;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.meter-card-content {
    display: flex;
    align-items: center;
}

.meter-card p {
    margin: 0;
    font-size: 14px;
}
.meter-card.selected {
    border-color: var(--dark-blue);
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border: 1px solid #008DDA !important;
    background-color: var(--dark-blue) !important;
    border-radius: 15px;
    padding: 5px !important;

}
::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-radius: 15px;
    padding: 5px !important;
}