<app-header></app-header>
<section class="header">
    <h1>Terms & Conditions</h1>
    <img src="../../assets/images/terms.png" alt="terms">
</section>
<div class="container">
    <img src="../../../assets/images/contract-negotiation.png" alt="quotation" height="150px" class="animate-image">
    <p>By using our smart water meter services, you agree to the following terms and conditions. 
        Our smart water meter is designed to provide accurate, real-time data on water consumption to help you 
        monitor and manage water usage effectively. We strive for the highest standards of accuracy and reliability; 
        however, we are not liable for any discrepancies or interruptions in service due to technical issues, 
        network outages, or other unforeseen circumstances.<br>
        All data collected from the meter is securely stored 
        and used solely for water management purposes, in accordance with our privacy policy. By continuing to use 
        our services, you consent to the collection and usage of data as outlined. <br> 
        Users are responsible for ensuring 
        the correct installation and maintenance of their meters and for complying with local water regulations. 
        Misuse or tampering with the meter may result in service termination. We reserve the right to modify these 
        terms at any time, with changes taking effect immediately upon posting.
    </p>
</div>
<app-footer></app-footer>